<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PYTHON WEB SERVER</title>
  <style>
    body {
      display: flex;
      background-color: aquamarine;
      color: black;
      text-align: center;
      font-family: 'Gill Sans', 'Gill Sans MT';
    }
    h1 {
      border: 5px solid black;
      padding: 5%;
      width: 50%;
      margin: auto;
      cursor: pointer;
    }
    h1:hover {
      border: 5px inset rgb(16, 57, 240);
      color: rgb(16, 57, 240)
    }
  </style>
</head>
<body>
  <h1>{{'TEMPLATE'}}</div>
  <script src="static/script.js"></script>
</body>
</html>